<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <% include layout/partials/head.html %>

</head>

<body>

    <% include layout/partials/navigation.html %>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="/img/pews-logo.png" class="animated bounceIn" alt="Logo de mi pagina">
                </div>
            </div>
        </div>
    </header>


    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-md-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-md-6">
                <h3>The most subscribed Youtube</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, ipsam placeat. Quas iste quam provident, ad pariatur placeat, quia numquam magni vero soluta recusandae corrupti voluptatibus odio optio vel inventore.</p>
            </div>
        </div>
    </div>

    <% include layout/partials/footer.html %>

</body>

</html>